
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&display=swap');

:root{
--background: rgb(34, 34, 46);
--background-light: #39374F;


}


body{
    background-color: rgb(34, 34, 46);
    font-family: 'Noto Sans Mahajani', sans-serif;
    transition: scale 0.5s ease;
    padding: 0;
    margin: 0;

}



.shadow{
    display: block;
    position: fixed;
    width: 100%;
    right: 1%;

    box-shadow: #4ed7d0bf 10px 100px 230px 80px;
    opacity: 0.3;
}

.search-container{
    position: fixed;
    width: 100%;
    height: 50%;
    top: 20%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5;
}


.info-text{
    color: #ffffff69;
    font-size: 25pt;

}

input[type=number]{
    background-color: rgb(34, 34, 46);

    
}
input[type=number]:hover{
    background-color: rgba(34, 34, 46, 0.566);

    
}
input[type=number]:focus{
    background-color: rgba(34, 34, 46, 0.179);
    
}

.id-input{
    position: relative;
    width: 15%;
    height: 5%;
    text-align: center;
    border: solid #4ed7d000;
    border-width: 1px;
    box-shadow: #4ed7d0bf  10px 150px 5000px 15px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    top: 10%;
    color: #ffff;
    transition: 0.5s;
    background-color: rgb(34, 34, 46);
}

.id-input:hover{
    transition: 0.8s;
    border: solid #4ed7d0bf;
    border-width: 1px;
  
}
.id-input:focus{
    transition: 0.8s;
    border: solid #4ed7d0bf;
    border-width: 1px;

}


.id-input-search{
    position: relative;
    width: 2%;
    background-color: rgba(34, 34, 46, 0.403);
    text-align: center;
    border: solid #4ed7d000;
    border-width: 1px;
    box-shadow: #4ed7d0bf  10px 150px 5000px 15px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    top: 10%;
    color: #ffff;
    transition: 0.5s;
}

.id-input-search:hover{
    transition: 0.8s;
    border: solid #4ed7d0bf;
    border-width: 1px;
}

#days-container{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 80%;
    padding: 5pt;
    
}

.day_box{
    position: relative;
    width: 8%;
    display: inline-block;
    padding: 5pt;
    height: 40%;
    top: 15%;
    text-align: center;
    background-color: rgba(34, 34, 46, 0.403);
    border-radius: 5px;
    margin-left: 1%;
}
.date{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #318783bf;
    font-weight: 200;
    font-size: 12pt;
}

.status{
    color:  #4ed7d0bf;
}

.index{
    color: #4ed7d0bf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30pt;
    
}

.day_info_container{
    position: fixed;
    right: 0;
    top: -1%;
    background-color: #2524324c;
    height: 100%;
    z-index: 5;
    width: 25%;
    transition: 0.3s;
    transition: width 0.5s ease;
    text-align: center;
}

.day_info_container_title{
    color:  #33e7deee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;

}