<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Josef Sivčo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
</head>
<body>
 

    <div class="nav_container">
    
        <span onclick="open_sec('home-sec')" class="nav_item"><i class="nav_item_icon"> <i class="fa-solid fa-house"></i></i> Home</span>
        <span onclick="open_sec('service-sec')" class="nav_item"><i class="nav_item_icon"><i class="fa-solid fa-truck-fast"></i></i> Služby</span>
        <span onclick="open_sec('project-sec')" class="nav_item"><i class="nav_item_icon"><i class="fa-solid fa-cloud"></i></i> Projekty</span>
        <span class="nav_item"><i class="nav_item_icon"><i class="fa-brands fa-github"></i></i> Kontakty</span>
    
      </div>
    </div>
    <div id="home">

        
        <div class="home_text_container animate" id="home-sec" style="display: none;">
            <span class="big_text">MYYCROSOFT</span>
            <span class="big_text_under">Josef Sivčo</span>
            <br>
            <span class="about_text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Morbi scelerisque luctus velit. Quisque tincidunt scelerisque libero. Nullam faucibus mi quis velit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Mauris metus.
            </span>

            <div class="black-box">
                sd
            </div>
            <div class="programming_langs">
                Věnuji se vývoji webových aplikací  předevšim v jazyku<a class="lang">PHP</a>,
                pro vytvoření interaktivnějšího designu požívám <a class="lang">JS</a> a <a class="lang">NodeJS</a>.
                Pro statickou stránku pak <a class="lang">HTML</a> <a class="lang">CSS</a> bez frameworku. 
                Velkou část problematiky webových stránek řeším pomocí <a class="lang">SQL</a>.

            </div>
        </div>

        <div class="serivce_container" id="service-sec" style="display: none;">
            
            <span class="ser-big-text">SLUŽBY</span>
            <br>
            <span class="service-section">WEBOVÉ SLUŽBY</span>
            <br>
            <div class="service-box">
                <div class="fa-regular fa-image serivce-icon"></div>
                <div class="service-text-box">
                <span class="service-title">BLOG</span> <span class="service-price">Od 800czk</span><br>
                <span class="service-text">Moderní webová stránka pro váš blog.</span><br>
                <span><a class="lang">HTML</a> <a class="lang">CSS</a> </span>
            </div>
        </div><br>
        <div class="service-box">
            <div class="fa-solid fa-graduation-cap serivce-icon"></div>

            <div class="service-text-box">
            <span class="service-title">WEBY PRO ŠKOLY</span><span class="service-price">Od 500czk</span><br>
            <span class="service-text">Přehledné informativní webové stránky pro základní školy.</span><br>
            <span><a class="lang">HTML</a> <a class="lang">CSS</a> <a class="lang">PHP</a> </span>
        </div>
    </div><br>
        <div class="service-box">
            <div class="fa-solid fa-server serivce-icon"></div>
            <div class="service-text-box">
            <span class="service-title">WEBY PRO HRÁČE</span><span class="service-price">Od 1250czk</span><br>
            <span class="service-text">Web pro váš herní server např.  FiveM, Minecraft...</span><br>
            <span><a class="lang">HTML</a> <a class="lang">CSS</a> <a class="lang">PHP</a> <a class="lang">JS</a> </span>
        </div>
    </div><br>
    <div class="service-box">
        <div class="fa-solid fa-mobile-screen-button serivce-icon"></div>
        <div class="service-text-box">
        <span class="service-title">WEBOVÉ APLIKACE</span><span class="service-price">Od 1500czk</span><br>
        <span class="service-text">Administráční systémy, databázové aplikace a tak dále...</span><br>
        <span> <a class="lang">SQL</a> <a class="lang">PHP</a> <a class="lang">JS</a> </span>
    </div>
</div><br>
<br>
<span class="service-section">FIVEM DEVELOPMENT</span>
<br>
<div class="service-box">
    <div class="fa-regular fa-image serivce-icon"></div>
    <div class="service-text-box">
    <span class="service-title">CUSTOM SCRIPTS</span> <span class="service-price">Od 300czk</span><br>
    <span class="service-text">Scripty pro vás fivem server dle vašich představ.</span><br>
    <span><a class="lang">LUA</a> <a class="lang">SQL</a> </span>
</div>
</div><br>
<div class="service-box">
    <div class="fa-regular fa-image serivce-icon"></div>
    <div class="service-text-box">
    <span class="service-title">UI DEVELOPMENT</span> <span class="service-price"> 250 czk</span><br>
    <span class="service-text">Jaká koliv práce s UI pro vás script je za příplatek.</span><br>
    <span><a class="lang">HTML</a> <a class="lang">CSS</a> <a class="lang">JS</a> </span>
</div>
</div><br>

        </div>

<div id="project-sec" style="display: block;">
<span class="project-title">MOJE PRÁCE</span>

<div class="project_box">
    <span class="project_box_title">Web FC-LUA</span> <br>
    <span class="project_box_text">Jednoduchá responsivní webová stránka pro technický web.</span>
    <div class="project-badges">
        <span class="project-badge">Práce</span>
        <span class="project-badge">Web design</span>
        <span class="project-badge">Soukromé</span>
    </div>
    <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
</div><br>
<div class="project_box">
    <span class="project_box_title">Web KingPortal</span> <br>
    <span class="project_box_text">Moderní webová stránka pro herní portál.</span>
    <div class="project-badges">
        <span class="project-badge">Zakázka</span>
        <span class="project-badge">Web design</span>
        <span class="project-badge">Soukromé</span>
    </div>
    <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
</div><br>
<div class="project_box">
    <span class="project_box_title">Webová databáze</span> <br>
    <span class="project_box_text">Webový skladový systém pro zaraniční e-shop.</span>
    <div class="project-badges">
        <span class="project-badge">Zakázka</span>
        <span class="project-badge">PHP</span>
        <span class="project-badge"> JavaScript </span>
        <span class="project-badge">Soukromé</span>
    </div>
    <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
</div><br>
<div class="project_box">
    <span class="project_box_title">WEB</span> <br>
    <span class="project_box_text">Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Mauris metus.</span>
    <div class="project-badges">
        <span class="project-badge">Zakázka</span>
        <span class="project-badge">Web design</span>
        <span class="project-badge">Soukromé</span>
    </div>
    <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
</div><br>
    <div class="project_box">
        <span class="project_box_title">WEB</span> <br>
        <span class="project_box_text">Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Mauris metus.</span>
        <div class="project-badges">
            <span class="project-badge">Zakázka</span>
            <span class="project-badge">Web design</span>
            <span class="project-badge">Soukromé</span>
        </div>
        <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
    </div><br>
    <div class="project_box">
        <span class="project_box_title">WEB</span> <br>
        <span class="project_box_text">Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Mauris metus.</span>
        <div class="project-badges">
            <span class="project-badge">Zakázka</span>
            <span class="project-badge">Web design</span>
            <span class="project-badge">Soukromé</span>
        </div>
        <span class="project-gallery-button"><i class="fa-solid fa-photo-film"></i></span>
    </div><br>
</div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
    <script src="https://kit.fontawesome.com/d798d3878a.js" crossorigin="anonymous"></script>
   <script src="index.js"></script>

</body>

</html>