@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&display=swap');

:root{
--background: rgb(34, 34, 46);
--background-light: #39374F;


}


body{
    background-color: rgb(34, 34, 46);
    font-family: 'Noto Sans Mahajani', sans-serif;
    transition: scale 0.5s ease;

}

.welcome_container{
    position: fixed;
    padding: 50pt;
    width: 40%;
    left: 10%;
    top: 10%;
}
.welcome-text{
    color: white;
 
}

.socialIcon{
  position: relative;
  top: 50pt;
  color: #ffffff4e;
  font-size: 30pt;
  margin-left: 0pt;
  transition: 0.3s;
  margin-right: 20pt;
}

.socialIcon:hover{
  transition: 0.3s;
  color: #ffffff;
}

.languages{
  position: absolute;
 
  top: 120%;
  height: 150%;
  width: 100%;
}

.langugage_box{
  border-radius: 5px;
  margin-top: 50pt;
  margin-left: 10pt;
  margin-right: 10pt;
  display: inline-block;
  height: 130px;
  width: 130px;
  opacity: 0.7;
  background-color: #34333e;
  text-align: center;
  padding: 50px 0;
 
  color: #efefef;
   
  transition: 0.3s;

}

.langugage_box:hover{
  transition: 0.3s;
  opacity: 0.09;
  color: #0bedbc;
}

.mainLang{
  background-color: #0bedbc4f;
}
.language_name{


   
  font-weight: 500;
  font-size: 1vw;  
}

.catalog-controls{
    position: absolute;
    display: none;
    right: 80pt;
    color: #fff;
    background-color: rgba(39, 39, 53, 0.67);
    padding: 5pt;
    top: 10%;
    font-size: 25px;
    width: 40%;
    text-align: center;
}
.control-arrow{
    background-color: #39374F;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10pt;
}
.blog-catalog{
    position: absolute;
  
   
    
    width: 40%;
    height: 200%;
    right: 80pt;
    top: 20%;
    color: #fff;


}


.blog-container{
    text-align: left;
    padding: 10px;
    opacity: 0.1;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.43);
    background-color: rgba(39, 39, 53, 0);
   /* border-width: 0.5px 0.5px 0px 0px;*/
    border-radius: 15px;
    margin-bottom: 100pt;
 transition: 0.5s;
 
}
.blog-container:hover{
  transition: 0.5s;
  background-color: rgba(39, 39, 53, 0.67);
  opacity: 1;
 
  cursor: none;
}
.blog-data{
    color: #39374F; 
    margin-top: 20pt;
}
.blog-data-border{
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.089);
    border-width: 0.5pt;
    padding: 4px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 60);
    border-radius: 15px;
    height: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .navigrationBar{
    position: fixed;

    background-color: #252432;
    width: 5%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    transition: width 0.5s ease;
    z-index: 3;
  }
  .navigrationBar:hover{
    transition: 0.3s;
    width: 6%;
 
    width: 4%;
  }


  .navigrationBarIcon{
   position: relative;
   display: block;
    top: 50%;
    bottom: 50%;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    transition: color 0.2s ease;
  }

.nav-container{
  text-align: left;
  padding: 15pt;
}

