.button_a{
    background-color: #34333e;
    width: 10%;
    padding: 3pt;
    margin-top: 10pt;
    margin-left: 10pt;
    border-radius: 5pt;
    text-align: center;
    color: #efefef;
    font-weight: 500;
    font-size: 1vw;  
    opacity: 0.3;
    transition: 0.3s;
    cursor: none;
}

.button_a:hover{
    transition: 0.5s;
    opacity: 1;

}