.projectListNavBar{
    position: fixed;
   /* background-color: #3e3d53;*/
    width: 100%;
    z-index: 10;
    height: 3rem;
    text-align: center;
    color: #4ef6d2;
    animation: arrowJump 0.8s linear infinite;
}
.fa-computer-mouse{
    font-size: 3rem;
    text-shadow: #4ef6d2 0px 10px 15px ;
}


@keyframes arrowJump{
    0% {bottom: 2%;}
    50% {bottom: 4%;  color: #00ffc8;}
    100% {bottom: 2%; color: #00ffc8}
}

.projectContainer{
    position: fixed;
    display: block;
    background-color: rgb(44, 44, 57);
    width: 100%;
    bottom: -100%;
    height: 100%;

    transition: 0.3s
}
.projectListNavBar:hover + .projectContainer {
    transition: 0.3s;
    bottom: -98%;
  }

.projects {
  
            position: relative;
            width: 100%;
            left: 10%;
            height: 100%;

            padding-top: 3rem;
            z-index: 50;
           
        
            overflow-x: scroll;
     
            
        }
        .projectShadow{
            display: block;
            position: absolute;
           
            width: 100%;
            z-index: 10;
            bottom: 0;

        }

     
        .projectBox {

            display: inline-block;
        
            border-radius: 15px;
            
            width: 15vw;
            margin-top: 3rem;
            height: 20vh;
            border: solid #0bedbc 1px;
            box-shadow: #4ed7d000 1px 1px 50px 1px;
            transition: 0.3s;
            opacity: 1;
            color: #c3c3c37a;
            margin-right: 3%; /* Opraveno: změněno na margin-right */
   
        }
    
        .projectImg{
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url("../gallery/sdh_tlumacov/test.png");
            border-radius: 1rem;
            opacity: 1;
        }
     

        .projctShadow{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background: linear-gradient(130deg, rgba(37, 42, 53, 0.95) 25%, rgba(0, 0, 0, 0.507) 100%);
            transition: 0.2s;
        }
        
        .projectBox:hover  {
            transition: 0.3s;
            border: solid #4ef6d2 1px;
            box-shadow: #4ed7d0fe 1px 1px 50px 1px;
            color: #0bedbc;
            opacity: 1;
        }
       
        

        .projecTitle{
            position: relative;
            font-size: 1.5vw;
            font-family: "Trebuchet MS", Arial, sans-serif;
            font-weight: 500;
            padding: 1rem;
        }

        
        .projectParalax{
            font-size: 0.8vw;
            padding: 1rem;
        }
        .projectTags{
           
            padding: 1rem;
            top: 5rem;
        }
        .projectTag{
            background-color: #252432;
            padding: 0.5rem;
            border-radius: 5px;
            color: #4ef6d24c;
            font-size: 0.7vw;
        }

        .projectInfoBox{
            position: fixed;
            right: -100%;
            width: 30%;
            height: 100%;
            z-index: 6;
            background-color: rgb(34, 34, 43);
            text-align: center;
            transition: 0.3s;
        }

        .projectInfoBox h1 {
            color: #00ffc8;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        .projectInfoBox span {
            color: #9b9b9b;
            text-align: right;
            font-family: Arial, Helvetica, sans-serif ;
            font-size: 1rem;
            
        }
        .infoText{
            text-align: left;
            padding: 5rem;
        }
        .infoBoxImages{
            position: relative;
            overflow-y: scroll;

            height: 60%;
        }

 
        .infoBoxImage{
            position: relative;
            padding: 1rem;
            margin-top: 20px;
        }

        .projectListControls{
            position: relative;
            width: 100%;
            height: 8%;
            background-color: #252432;  
            text-align: center;
            color: #ffffff;
            font-size: 2rem;
            font-weight: 100;
            
     
        }
        
        .projectListControls div{
            position: relative;
            background-color: #312e49;
            padding: 0.2rem;
            border-radius: 5px;
            color: #4ef6d2;
            font-size: 0.5vw;
            display: inline-block;   
            
        }

        @media screen and (max-width: 1600px) {
            

            .projectBox{
                width: 20vw;
                height: auto;

            }
            .projecTitle{
                font-size: 2vw;
            }
        }


        @media screen and (max-width: 380px) {
            

            .projectBox{
                width: 55vw;

            }
            .projecTitle{
                font-size: 5vw;
            }
            .projectParalax{
                font-size: 3vw;
            }
            .projectTag{
                font-size: 2vw;
            }
        }




        @media screen and (max-width: 800px) {
            .projectListControls div{
                position: relative;
                background-color: #312e49;
                padding: 0.2rem;
                border-radius: 5px;
                color: #4ef6d2;
                font-size: 3vw;
                display: inline-block;   
                
            }
    
            .projectParalax{
                font-size: 3vw;
                padding: 1rem;
            }
            .projectTag{
                font-size: 3vw;
            }
        }