/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mahajani&display=swap');
*/
:root{
--background: rgb(34, 34, 46);
--background-light: #39374F;


}


body{
    background-color: rgb(34, 34, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: scale 0.5s ease;

}

h2{
  font-size: 17pt;
  font-weight: 500;
}

li{
  font-size: 13pt;
  color: #b2b2b2;
}

.welcome_container{
    position: fixed;
    padding: 50pt;
    width: 100%;
    left: 10%;
    top: 10%;
    text-align: ce;
}
.welcome-text{
   font-size: 2.5vw;

 
}


.socialIcon{
  position: relative;
  top: 50pt;
  color: #ffffff4e;
  font-size: 20pt;
  margin-left: 0pt;
  transition: 0.3s;
  margin-right: 20pt;
}

.socialIcon:hover{
  transition: 0.3s;
  color: #ffffff;
}

.languages{
  position: absolute;
 
  top: 120%;
  height: 150%;
  width: 100%;
}

.langugage_box{
  border-radius: 5px;
  margin-top: 10pt;
  margin-left: 10pt;
  margin-right: 10pt;
  display: inline-block;
  height: 80px;
  width: 80px;
  opacity: 0.7;
  background-color: #34333e;
  text-align: center;
  padding: 30px 0;
 
  color: #efefef;

  transition: 0.3s;
  font-weight: 500;
  font-size: 1vw auto;  

}

.langugage_box:hover{
  transition: 0.3s;
  opacity: 0.09;
  color: #0bedbc;
  transform: rotateZ(90deg);
}

.mainLang{
  background-color: #0bedbc4f;
}


.langugage_skills{
  margin-top: 2vw;
  margin-left: 10pt;

  width: 20%;
  height: 15%;
  background-color: #34333e;
  border-radius: 5px;
  padding: 10pt;
  color: #0bedbc;
  transition: opacity 0.3s ease;

}

.langugage_skillBar{

  display: block;
  width: 45%;
  height: 5px;
  background-color: #0bedbc;
  border-radius: 15px;
  transition: width 0.5s ease;
}
.catalog-controls{
    position: absolute;
    display: none;
    right: 80pt;
    color: #fff;
    background-color: rgba(39, 39, 53, 0.67);
    padding: 5pt;
    top: 10%;
    font-size: 25px;
    width: 40%;
    text-align: center;
}
.control-arrow{
    background-color: #39374F;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10pt;
}
.blog-catalog{
    position: absolute;
  

    width: 40%;
    height: 200%;
    right: 80pt;
    top: 20%;
    color: #fff;


}


.blog-container{
    text-align: left;
    padding: 10px;
    opacity: 0.1;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.43);
    background-color: rgba(39, 39, 53, 0);
   /* border-width: 0.5px 0.5px 0px 0px;*/
    border-radius: 15px;
    margin-bottom: 100pt;
  transition: 0.5s;

 
}
.blog-container:hover{
  transition: 0.5s;
  background-color: rgba(39, 39, 53, 0.67);
  opacity: 1;
 
  cursor: none;
}

.blog-container h2{
    font-size: 2vw auto;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog-data{
    color: #39374F; 
    margin-top: 20pt;
}
.blog-data-border{
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.089);
    border-width: 0.5pt;
    padding: 4px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 60);
    border-radius: 15px;
    height: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .navigrationBar{
    position: fixed;

    background-color: #252432;
    width: 5%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    transition: width 0.5s ease;
    z-index: 3;
  }
  .navigrationBar:hover{
    transition: 0.3s;
    width: 6%;
 
    width: 4%;
  }


  .navigrationBarIcon{
   position: relative;
   display: block;
    top: 50%;
    bottom: 50%;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    transition: color 0.2s ease;
  }

.nav-container{
  text-align: left;
  padding: 15pt;
  color: #fff;
}

.navItems{
  margin-top: 5pt;
  margin-left: 10pt;
  text-decoration: none;
  list-style-type: decimal;
}
.navSec{
  margin-top: 15pt;
  margin-left: 10pt;
}

@media screen and (max-width: 800px) {
  .welcome_container{
    position: absolute;
   
    width: 90%;
    text-align: center;
  }
  .welcome-text{
 
    font-size: 8vw;
    color: #0bedbc;

  }
  .wcm_IM{

    margin-left: -100pt;
  }
  #feature-text{
    position: absolute;
    
    
  }
  .languages{
    width: 60%;
    
  }
  .langugage_box{
    height: 80px;
    width: 80px;
    margin-top: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;
  }
  .language_name{
    font-size: 5vw;
  }
  .langugage_skills{
    width: 100%;
  }
  .blog-catalog{
    top: 125%;
    width: 80%;
    right: 5%;
  }
  .socials{
    width: 100%;
 
  }
  .socialIcon{
    font-size: 25pt;
    margin-right: 5pt;
  }
  .navigrationBar{
    width: 7%;

  }
  .navigrationBarIcon{
    font-size: 20px;
  }

  .navigrationBar::after{
  
  }

 
}


